.contenedor{
    border-radius: 10px;
    border: solid 1px rgba(74, 70, 70, 0.237);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 175px;
    position: relative;
    background-color: rgba(224, 248, 217, 0.825);
 
}   
.contenedor:hover{
    cursor:pointer;
    background-color: rgba(255, 255, 255, 0.384);
}
.infoCont{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.infoCont img{
    background-color: rgba(0, 0, 0, 0.386);
    border-radius: 10px;
    

}

.btn{
    width: min-content; /* para que el boton no ocupe todo el largo si no que ocupe el minimo en donde esta*/
    height: min-content;
    position:absolute;/* aqui debemos poner un position en contenedor para que ocupe el espacio en ese contenedor o tarjeta y no en el contenedor padre*/
    right: 5px;/* para que haya un espacio con el borde de la derecha y arriba*/
    top: 5px;
    background-color: rgba(60, 111, 5, 0.383);
    border: none;
    border-radius: 5px;
    color:rgb(242, 223, 194);
    
}
.btn:hover{/*para que cuando el cursor pasa x arriba cambie el color y demas cosas*/
    cursor:pointer;
    background-color: rgba(30, 69, 30, 0.662)
}